<div class="col-md-12 jinxloadPage" ng-cloak>
	<div class="page-header text-center">
		<h1>{{data.article.nom}}</h1>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="badge pull-right">{{data.article.note}} / 5 ({{data.article.popularity}} comments)</span>
			<h3 class="panel-title">{{data.article.nom}}</h3>
		</div>
		<div class="panel-body">
			<div class="thumbnail">
				<img ng-src="{{data.article.image}}">
			</div>
			<p>{{data.article.description}}</p>
		</div>
		<div class="panel-footer">
			<div>By {{data.article.pseudo}}</div>
			<span class="badge pull-right">{{data.article.date}}</span>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading pointer" ng-click="display = !display">
			<h3 class="panel-title">Ajouter un commentaire</h3>
		</div>
		<div ng-show="display" class="panel-body">
			<form role="form">
				<div class="form-group">
					<label for="pseudo">Pseudo:</label>
					<input type="text" id="pseudo" class="form-control" required="true" ng-model="commentaire.pseudo">
				</div>
				<div class="form-group">
					<label for="message">Message:</label>
					<textarea id="message" class="form-control" required="true" ng-model="commentaire.message"></textarea>
				</div>
				<div class="form-group">
					<label for="note">Note:</label>
					<div id="note" class="form-control">
						1 <input type="radio" value="1" ng-model="commentaire.note">
						2 <input type="radio" value="2" ng-model="commentaire.note">
						3 <input type="radio" value="3" ng-model="commentaire.note">
						4 <input type="radio" value="4" ng-model="commentaire.note">
						5 <input type="radio" value="5" ng-model="commentaire.note">
					</div>
				</div>
				<div class="text-center">
					<button class="btn btn-success" ng-click="submit()">Envoyer</button>
				</div>
			</form>
		</div>
	</div>
	<div ng-repeat="commentaire in data.article.commentaires" ng-show="commentaire.status == 1" class="panel panel-default">
		<div class="panel-heading">
			<span class="badge pull-right">{{commentaire.note}} / 5</span>
			<h3 class="panel-title">{{commentaire.pseudo}}</h3>
		</div>
		<div class="panel-body">
			<div>{{commentaire.message}}</div>
		</div>
		<div class="panel-footer">
			<span class="badge pull-right">{{commentaire.date}}</span>
		</div>
	</div>
<div>